# Ignore node_modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build artifacts
dist/
out/
build/
.cache/

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# Electron packaging output
release/
git rm -r --cached node_modules
